@font-face {
  font-family: 'BerninaSans';
  font-style: normal;
  font-weight: 500;
  src: url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/BerninaSans-Web-Regular.woff2') format('woff2'),
        url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/BerninaSans-Web-Regular.woff') format('woff');
}


@font-face {
  font-family: 'BerninaSans';
  font-style: normal;
  font-weight: 300;
  src: url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/BerninaSans-Web-Light.woff2') format('woff2'),
        url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/BerninaSans-Web-Light.woff') format('woff');
}





@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/MaterialIcons-Regular.eot');
  src: url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
        url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/MaterialIcons-Regular.woff') format('woff'),
        url('https://d3sj466wqlrld0.cloudfront.net/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}